.company_details #company_name{
  font-size: 400%;
  font-weight: 900;
}

.tag_line{
  font-weight: 600;
  font-style: italic;
  font-size: larger;
  font-family:'Times New Roman', Times, serif;
}

.company_details{
  padding-top:15%
}

.company_details .tag_line{
  margin: 5px;
  font-size: 200%;
}

@media (max-width: 850px) {
  .company_details{
    font-size: 100%;
  }
}

.searchhomecontainer {
    /* background-image: url("none"); */
    min-height: 60vh;
    width: 100%;
    height: max-content;
    margin-top: 0px;
    text-align: center;
}

.landing_center {
    width:100%;
    height:80vh;
    text-align: center;
    /* background-color: blue; */
}

.landing_images {
    background:url(../../../../public/images/kingbysize.jpg);
    animation: chbg 20s infinite alternate;
  }
  @keyframes chbg {
    0% {
      background:url(../../../../public/images/kingbysize.jpg);
    background-size:cover
    }
    20% {
      background:url(../../../../public/images/city.jpg);
    background-size:cover
    }
    40% {
      background:url(../../../../public/images/ilimanjaro.jpg);
    background-size:cover
    }
    60% {
      background:url("../../../../public/images/lionsss.jpg");
    background-size:cover
    }
    80% {
      background:url("../../../../public/images/gazzelle.jpg");
    background-size:cover
    }
    100% {
      background:url("../../../../public/images/elephant.jpg");
    background-size:cover
    }
  }


  .top_destinations {
    height: max-content;
    width: 100%;
    margin-top: 10%;
  }

  .destination_card {
    width: 300px;
    height: max-content;
    min-height: 300px;
    box-shadow: 2px 0px 2px 0px rgb(67, 67, 66);
    margin:15px;
    background-color: white;
    border-radius: 10px;
  }

  .destination_card img {
    width:100%;
    height:300px;
    border-radius: 10px;
  }
  
  .destination_card:hover {
    background-color: rgb(157, 131, 81, 90%);
    color: white;
    cursor: pointer;
  }

  .destination_card:hover img {
    opacity: 50%;
  }

.destination_cards_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
    /* text-align: center; */
    /* align-items: center; */
}

@media (max-width: 850px) {
  .destination_cards_flex {
    justify-content: center;
  }
}

.more_button {
  text-align: center;
  margin: 10px;
  color:rgb(157, 131, 81);
  cursor: pointer;
}

.more_button:hover{
  scale: 1.1;
  text-decoration: underline;
}
.why_us{
  width: 100%;
  min-height: 300px;
  margin: 10px;
  margin-top: 10%;
  max-height: max-content;
}

.why_us_reasons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  text-align: center;
  flex-wrap: wrap;
}

.why_reason{
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 300px;
}


.why_us_reasons img {
  width:100px;
  height:100px
}

.search_complete_home{
  margin-top: 1cm;
}

.more_button_card{
  position:relative;
  /* opacity: 20%; */
  height: 100%;
}


  .destination_browse_button {
    width: 300px;
    height: 200px;
    padding-top: 100px;
    background-color: rgb(87, 85, 85, 80%);
    /* opacity: 90%; */
    position: absolute;
    border-radius: 10px;
    top: 0px;
  }

  .destination_browse_button:hover{
    background-color: rgb(87, 85, 85, 90%);
  }


  .about_us_center{
    margin-top: 10%;
    text-align: center;
    
  }

  .reviews_landing{
    text-align: center;
    margin-top: 10%;
  }

  .contact_card_landing {
    min-width: 300px;
    height: max-content;
    min-height: 300px;
    box-shadow: 2px 0px 2px 0px rgb(67, 67, 66);
    margin:15px;
    background-color: white;
    border-radius: 10px;
  }

  .offers_home{
    margin-top: 10%;
  }
