
.fun_box {
    width:100%;
    height: 10cm;
    text-align: center;
    text-justify: newspaper;
    justify-items: center;
    margin:10px;
    /* box-shadow: -5px 5px 5px 6px rgb(206, 206, 206); */
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}