
.card_window {
    width:200px;
    height: 150px;
    background-color: black;
    /* display:flex;
    justify-content: right; */
    margin:10px;
    padding:3px;
    border-radius: 5px;

}

.card_bordered {
    width:100%;
    height: 100px;
    background-color: rgb(157, 131, 81);
    opacity: 75%;
    border: 0.5px solid black;
    border-radius: 5px;
}

.card_image {
    width:97%;
    height:97%;
}

.card_title {
    position:relative;
    z-index: -1;
    color:white;
}

.card_price {
    margin-top: -0.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 5px;
    width:50px;
    color:rgb(70, 10, 10);
    width: 5rem;
}

.card_description {
    font-size: xx-small;
    color:white;
}

.flex_row_few {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}