
.flex_row {
    display: inline;    
    justify-items: left;
}

.package_list_card{
    width:20cm;
    margin-left: 100px;
    height:max-content;
    border: 0.5px solid black;
    border-radius: 15px;
    display: grid;
    padding: 10px;
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
}

.package_details_section {
    display: block;
}

.package_details_no_reviews {
    display: block;
}

.package_title_buttons {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: max-content;
}

.package_title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.package_action_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.package_details_only{
    word-wrap: break-word;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: left;
    
}

.package_details_only2 div{
    margin: 0.5em;
}

.cover_image_list{
    width: 80%;
    height:80%;
}

.package_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    accent-color: grey;
}

.package_my_cost_price {
    display: block;
}

.package_my_cost {
    display:block;
}

.package_my_cost_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-small;
}

.package_price {
    font-size: medium;
    color: rgb(121, 28, 28);
}