
.full_window {
    width:100%;
    justify-content: center;
    display:flex;
    height:70%;
    text-align: center;
    top: 1cm;

}

.center_all {
    align-items: center;
    justify-content: center;
    align-self: center;
}

.invisible_btn {
    border: none;
    
}
