
.contact_body{
    width: 96%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin: 1%;
}



.contact_form {
    width: 100%;
    max-width: 500px;
    height: max-content;
    margin: 0.1cm;
    border: 1px solid rgb(157, 131, 81);
    border-radius: 10px;

}

.align_right {
    text-align: right;
}
