
.form{
    padding:10px;
    border: 0.5px solid black;
    border-radius: 4px;
    width: fit-content;
    min-width: 300px;
    height:max-content;
}

.fields_field{
    background-color: white;
    max-width: 95%;
}

.buttons_field {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:10px;
    margin-right: 10px;
}

.header_field {
    color:black;
}