
.btn{
    width:max-content;
    min-width: none;
    padding:4px;
    border: 1px rgb(157, 131, 81);
    border-radius: 4px;
    font-variant: small-caps;
    margin:5px;
    height:1.8rem;
}

.btn:hover {
    cursor: pointer;
    scale: 1.1;
}

.submit_btn {
    background-color: rgb(157, 131, 81);
    color: white;
    min-width: 4rem;
    font-weight: 600;
}

.submit_btn2 {
    background-color: white ;
    color: rgb(157, 131, 81);
    min-width: 4rem;
    font-weight: 600;
    border: 1px solid rgb(157, 131, 81);
    border-radius: 4px;
}

.cancel_btn {
    background-color:rgb(157, 131, 81);
    color: white;
}

.close_btn {
    color:rgb(177, 0, 0);
    cursor:pointer;
}

.invisible_btn {
    color:black;
    border:none;
    background-color: inherit;
}

.invisible_btn3 {
    color:black;
    border:none;
    background-color: inherit;
    margin:0px;
    height: auto;
    padding: 0px;
}

.menu_btn {
    color:black;
    border:none;
    background:transparent;
    font-variant: normal;
    font-weight:700;
    margin: 0px;
    font-family:inherit;
}

.side_bar_btn {
    color: rgb(157, 131, 81);
    width:100%;
    /* border-top: 1px rgb(157, 131, 81) solid; */
}