
.search_input{
    min-width: none;
    padding:4px;
    height:1.5rem;
    border: none;
    width:80%;
}

.search_container {
    border: 0.5px rgb(48, 47, 47) solid;
    border-radius: 15px;
    width:400px;
    padding-left:5px
}

.search_input:focus {
    border: none;
    outline: none;
}