
.search_complete{
    position:relative;
}

.search_input{
    min-width: none;
    padding:4px;
    height:1.5rem;
    border: none;
    width:80%;
}

.search_container {
    border: 0.2px rgb(157, 131, 81) solid;
    border-radius: 15px;
    width:400px;
    padding-left:5px
}

.search_input:focus {
    border: none;
    outline: none;
}

.search_results_card {
    width: 100%;
    height:max-content;
    padding:4px;
    border: 0.2px solid  rgb(157, 131, 81);
    border-top: none;
    border-radius: 10px;
    align-self: center;
    text-align: left;
    font-size: small;
    background-color: white;
}

.float_card {
    position:absolute;
    top:3rem;
}

.hidden {
    display: none;
}
