
.column_grids_partition {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.9fr;
    width: 95%;
}
.column_grids_partition_equal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
}
.column_grids_partition_equal_2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 95%;
}

.border_left {
    border-left: 1px rgb(157, 131, 81);
    padding-left: 15px;
    padding-right: 15px;
}

.border_right {
    border-right: 1px solid rgb(157, 131, 81);
    padding-right: 15px;
    padding-left: 15px;
}

.spacing_between_elements {
    margin-top: 2rem;
}

.flex_close_by {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
    width:60%;
}

.align_all_left {
    text-align: left;
}

.flex_to_row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex_to_row_close {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.cover_image_booking{
    width: 70%;
    height:70%;
}
.cover_image_booking img{
    width: 100%;
    max-width: 300px;
    height:100%;
    max-height: 250px;
}

.display_inline_row{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: left;    
}

.subsection_header {
    text-align: left;
    background-color: rgb(205, 203, 203, 50%);
    border-top: 1px solid rgb(157, 131, 81);
    border-bottom: 1px solid rgb(157, 131, 81);
    padding-left: 10px;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
}

.flex_column {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.table_all {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1cm;
    border: 1px solid rgb(205, 203, 203, 30%);
    max-width: fit-content;
    
}

.table_header {
    padding: 10px;
    background-color:rgb(205, 203, 203, 30%) ;
    min-width: 5cm;
    max-width: 5cm;
    max-height: max-content;
}

.table_content {
    padding: 10px;
    min-width: 5cm;
    max-width: 15cm;
}