

.input {
    padding:4px;
    height:1.5rem;
    min-width: 95%;
    max-width: 98%;
    font-size: 0.9rem;
}
.input_radio {
    scale: 1.5;
}
input[type='radio'] {
    accent-color: rgb(157, 131, 81);
}
input[type='checkbox'] {
    accent-color: rgb(157, 131, 81);
}

.margin_around {
    margin-right:1rem;
}

input[type='text'] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid  rgb(157, 131, 81);
}
input[type='number'] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid  rgb(157, 131, 81);
}
input[type='date'] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid  rgb(157, 131, 81);
}

.display_inline {
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
    text-align: left;    
}

.small_input {
    padding:4px;
    height:1.5rem;
    min-width: 2rem;
    max-width: 90%;
    font-size: 0.9rem;
}

.small_input_number{
    width:1rem
}

.text_area {
    margin-top: 0.5rem;
    width: 90%;
    height:6rem;
    resize:none;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid  rgb(157, 131, 81);
}

.text_area_container{
    margin-top:2rem
}