
.main_window {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom:10%;
}

.dropdown_search {
    display: none;
    height: fit-content;
    width: fit-content;
    max-width: 7cm;
    z-index: -1;
}

.minor_window {
    text-align: center;
    justify-content: center;
}